<mat-nav-list>
  <div class="img-container">
    <img class="resize" src="assets/profile-pic.png" alt="Avatar" />
  </div>
  <h1>DANIEL WEAVER</h1>
  <h3>SOFTWARE ENGINEER</h3>
  <a mat-list-item routerLink="" (click)="onClose()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">HOME</span>
  </a>
  <a mat-list-item routerLink="/about" (click)="onClose()">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">ABOUT</span>
  </a>
  <a mat-list-item routerLink="/experience" (click)="onClose()">
    <mat-icon>emoji_events</mat-icon>
    <span class="nav-caption">EXPERIENCE</span>
  </a>
  <a mat-list-item routerLink="/projects" (click)="onClose()">
    <mat-icon>code</mat-icon>
    <span class="nav-caption">PROJECTS</span>
  </a>
  <a mat-list-item routerLink="/education" (click)="onClose()">
    <mat-icon>school</mat-icon>
    <span class="nav-caption">EDUCATION</span>
  </a>
  <a mat-list-item routerLink="/contact" (click)="onClose()">
    <mat-icon>contacts</mat-icon>
    <span class="nav-caption">CONTACT</span>
  </a>
</mat-nav-list>
