<mat-nav-list>
  <a mat-list-item routerLink="" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/about" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">About Me</span>
  </a>
  <a mat-list-item routerLink="/experience" (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Experience</span>
  </a>
  <a mat-list-item routerLink="/projects" (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Projects</span>
  </a>
</mat-nav-list>
