<div class="about" fxLayoutAlign="center center">
  <div class="section-wrapper">
    <div>
      <p>
        Hello! I've been a professional software engineer for almost six years
        now after getting my bachelor's degree from UMBC. I currently work as a
        freelancer, but spent most of my career at Oceaneering, a company known
        for their underwater robotics work.
      </p>
      <p>
        Professionally, I specialize mostly in desktop applications created with
        the .NET framework. I’ve created applications for federal, military, and
        civilian customers, helping analysts across the world do their jobs more
        efficiently by visualizing data in unique and personalized ways.
      </p>
      <p>
        As a hobby, I’ve delved into the web dev world and have started creating
        web applications (including this site!).
      </p>
      <p>
        On a personal level, there's two things you should know about me:
      </p>
      <ul>
        <li>
          I've been traveling the world for the past two years with my beautiful
          wife and spoiled husky. We're currently exploring Europe!
        </li>
        <br />
        <li>
          I'm a huge Brooklyn Nets fan and have been for twenty years (sad I
          know). I even convinced my wife to let us name our dog Brooklyn :)
        </li>
      </ul>
    </div>
  </div>
</div>
