<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="onToggleSidenav()"
      fxHide.gt-sm
      fxShow="true"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span><a routerLink="/">Daniel Weaver Software Engineer</a></span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a class="nav-caption" routerLink="">HOME</a>
      <a class="nav-caption" routerLink="/about">ABOUT</a>
      <a class="nav-caption" routerLink="/experience">EXPERIENCE</a>
      <a class="nav-caption" routerLink="/projects">PROJECTS</a>
      <a class="nav-caption" routerLink="/projects">EDUCATION</a>
      <a class="nav-caption" routerLink="/projects">CONTACT</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
