<div class="about" fxLayoutAlign="center center">
  <div class="section-wrapper">
    <img class="resize" src="assets/profile-pic.png" alt="Avatar" />
    <h1>Daniel Weaver</h1>
    <h2>Software Engineer</h2>
    <div>
      <p>
        I’m a professional software engineer passionate about creating products
        that make a positive impact on people’s lives and the world around us. I
        currently work at Oceaneering, a company known for their underwater
        robotics work.
      </p>
      <p>
        Professionally, I specialize in desktop applications created with the
        .Net framework. I’ve created applications for both federal and civilian
        customers, helping analysts across the world do their jobs more
        efficiently by visualizing data in unique and personalized ways.
      </p>
      <p>
        As a hobby, I’ve delved into the web dev world and have started creating
        web applications (including this site!) using the MEAN Stack. Please
        take a look around my site!
      </p>
    </div>
  </div>
</div>
