<div class="about" fxLayoutAlign="center center">
  <div class="section-wrapper">
    <h1>Daniel Weaver</h1>
    <h2>Software Engineer</h2>
    <img class="profile-img" src="assets/profile-pic.png" alt="Avatar" />
    <div>
      <p>
        Professional software engineer passionate about creating products that
        make a positive impact on people’s lives and the world around us.
      </p>
    </div>
  </div>
</div>
<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center center">
  <div class="item">
    <img class="skills"
         src="assets/c-sharp.png"
         alt="C#" />
    <span class="caption">C#</span>
  </div>
  <div class="item">
    <img class="skills"
         src="assets/.net-core.png"
         alt=".NET Core" />
    <span class="caption">.NET Core</span>
  </div>
  <div class="item">
    <img class="skills"
         src="assets/wpf.png"
         alt="WPF" />
    <span class="caption">WPF</span>
  </div>
  <div class="item">
    <img class="skills"
         src="assets/winforms.png"
         alt="WinForms" />
    <span class="caption">WinForms</span>
  </div>
</div>
